{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}
    
	<div id="title_index">
		<div><img src="{{ asset('bundles/login/imgs/bg-l.png') }}"></div>
		<div><h1>Sistema de control de usuarios para la red WiFi</h1></div>
    </div>

{% endblock %}