<!DOCTYPE html>

<html class="no-js" lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>:: UVM ::</title>

<link rel="stylesheet" href="{{ asset('bundles/login/css/globalStyles.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/DNSDark.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ asset('bundles/login/css/landerContact.css') }}" type="text/css" media="all">

</head>

<body class="mpf" marginwidth="0" marginheight="0">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your bro$
        <![endif]-->

        {% block content %}{% endblock %}

    </div>
</div>
<!-- End Content BG -->
</body>
</html>

