<!DOCTYPE html>
<body>
    Estimado(a) <b>Usuario</b> utilice esta clave para restablecer su contraseña: <br /><br />
    <b>Clave:</b> {{ pass }} <br /><br />
    Ingrese a la siguiente dirección para cambiar su password: <br /><br />
    <a href='http://{{ hostname }}/web/changepass'>CAMBIAR PASSWORD</a>
</body>
</html>
