{% extends 'CoreAdminBundle:login:layout_new.html.twig' %}
{% block content %}

<div id="contentbg" class="inv-box" style="">
<!-- Title -->
        <hr><hr>
        <div id="phone-call"><span class="tblue">
            <center><img src="/web/bundles/login/img/BannerT.jpg"></center>
        </div>
        <hr>
<!-- End Title -->
<!-- Content -->
<!-- Start Form -->
    <div id="cform" class="card move-form" style="">
    <p class="mpf widget-text"><h2>Registro:</h2></p>
	<form id="register" method=GET action="{{ path('portal_register') }}">
	    <p style="text-align:justify;">Para tener acceso a la red WiFi de UVM es necesario realizar el proceso de <b>REGISTRO</b>:</p>
        <input type="submit" id="entrar" name="entrar" id="sub-a" class="button blue sub-btn" value="Registro">
	</form>
        {% if msg %}
            <center><p class="mpf widget-text" style="background-color:brown;color:white">{{ msg }}</p></center>
        {% endif %}
        {{ form(form, {'attr': {'id': 'regform'}}) }}
        <p>&nbsp;</p>
        <p style="text-align:justify;">Si tienes problemas para registrarte o para navegar por favor acude al Centro de Cómputo de tu campus.</p>
    </div>
<!-- End Form -->
<!-- Start Right Column -->
    <div id="rightClip" class="mobile-remove">
        <!-- Start Widgets -->
        <div id="widgets" style="left:40px">
            <div class="" style="display: block;">
                <img src="/web/bundles/login/img/general.png" style="">
                <p class="mpf widget-text" style=""><h3>Debes ingresar una cuenta válida de e-mail, ya que se te enviarán los datos de tu registro.</h3></p>
            </div>
            <div class="" style="display: block;">
                <img src="/web/bundles/login/img/general.png" style="">
                <p class="mpf widget-text" style=""><h3>Elije un nombre de usuario de por lo menos 5 caracteres y utiliza solo caracteres alfanuméricos.</h3></p>
            </div>
            <div class="" style="display: block;">
                <img src="/web/bundles/login/img/general.png" style="">
                <p class="mpf widget-text" style=""><h3>Elije una contraseña de por lo menos 6 caracteres y utiliza solo caracteres alfanuméricos.</h3></p>
            </div>
            <div class="" style="display: block;">
        		<form method=GET action="{{ path('portal') }}">
                   <input type="submit" id="entrar" name="id" id="sub-a" class="button blue sub-btn" value="Ingreso">
                </form>
            </div>
        </div>
<!-- End Widgets -->
    </div>
<!-- End Right Column -->
<!-- End Content -->   
    <div id="footer" class="" style="">
        <hr><hr>
        <div id="phone-call"><span class="tblue">
            <img src="/web/bundles/login/img/BannerT.jpg">
        </div>
        <hr>
{% endblock %}
