{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}

    {{ include('CoreAdminBundle:users:style-grid.html.twig') }}

    <div>

        <div>
            <h1>Usuarios :: Activos</h1>
        </div>

        {{ grid(grid) }}

    </div>

{% endblock %}