{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}

    {{ include('CoreAdminBundle:reports:style-grid.html.twig') }}
    <div id="title">
        <h1>Usuarios :: Registrados :: Encontrados: {{ num_res }}</h1>
    </div>
    {% if msg %}
        <center><p class="mpf widget-text" style="background-color:brown;color:white">{{ msg }}</p></center>
    {% endif %}
    {% if grid %}
    <div>
        {{ grid(grid) }}
    </div>
    {% endif %}

{% endblock %}