{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}

    {{ include('CoreAdminBundle:reports:style-grid.html.twig') }}

    <div>
        <div id="title">
            <h1>Usuarios :: Pendientes</h1>
        </div>
        {{ grid(grid) }}
    </div>

{% endblock %}